h1{ 
    color: green;
    text-align: center;
    font-size: 60px;
    font-family: 'Emilys Candy', cursive;
}
.bold{
    font-weight:700;
}
p {
    font-family: 'Mountains of Christmas', cursive; 
    font-size: 20px
}
img{
    margin:20px;
    padding:20px;
    position:relative;
    float:center;
}
